html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.rounded-2xl {
  border-radius: 20px;
}

.navbar-nav .nav-item {
  position: relative;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  background-color: #fe5658;
  border-radius: 2px;
  z-index: 10;
}

.footer {
  padding: 2rem 0;
  margin-top: 4rem;
}

@media (max-width: 576px) {
  .navbar-brand img {
    height: 35px !important;
  }

  .footer img {
    height: 25px !important;
  }

  .footer .container {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .footer {
    margin-top: 2rem;
  }
}
